name: Primary
permissions:
  contents: read
on:
  push:
    paths-ignore:
      - README.md
      - .github/CODEOWNERS
      - .github/dependabot.yaml
  workflow_dispatch:
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Configure NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Build and Test Node
        run: |
          npm ci
          npm run lint
          npm run build
      - name: Send Discord Message with Build Status
        if: always()
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
              "text": "${{ github.event.repository.name }} - Build and Test Bot - ${{ job.status }}\nOn Branch: ${{ github.ref }}\nBy: ${{ github.event.head_commit.author.name }}"
